body {
	/* background-color: #202020; */
    font-family: 'Courier New', Courier, monospace;
	zoom: 125%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	/* align-items: center; */
	position: relative;
	background-image: url("bbg1.png");
	min-height: 80vh;
	/* height: fit-content; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.videointro{
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
	/* margin-left: 10px; */
	display: flex;
	flex-direction: row;
	float: left;
	justify-content: center;
}



/* Side panel */
.header{
	height: auto;
	font-size: 20px;
	position: sticky;
	top: 0px;
	z-index: 1;
}
.logoD{
    height: 55px;
	padding: 0px; 
	margin-right: 20px;
	display: flex;
	/* position: right; */
	/* flex-direction: row; */
	justify-content: right;
	/* width: 10%; */
}
.logoD img{
	height: 48px;
}

.sidepanel {
	width: 0;
	position: fixed;
	z-index: 1;
	/* height: 50%; */
	top: 0;
	left: 0;
	background-color: #dcdcdc;
	overflow-x: hidden;
	transition: 0.5s;
	/* padding-top: 60px; */
	/* padding-bottom: 40px; */
  }
  
 
  
  .sidepanel  a{
	height: 12%;
	display: block;
	transition: 0.3s;
	font-family: 'Courier New', Courier, monospace ;
	font-weight: bold;
	font-size: 25px;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-left: 5px;
	text-decoration: none;
	/* height: 20px; */
	/* padding-top: 10%; */
	padding: 6%;
	/* margin-top: 15px; */
	

}
.sidepanel a:hover{
	font-size:27px;
	color: red;
}

  
  .sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 20px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #dcdcdc;
	opacity: 80%;
	color: rgb(0, 0, 0);
	padding: 10px 15px;
	border: none;
	float: left;
  }

  
  .openbtn:hover {
	color: red;
	
  }
  /* ends here */

/*  DSA serial wise topic names css */

.serial{
	display: flex;
	flex-direction: column;
	/* margin-top: 2px; */
	justify-content: center;
	
	padding: 3%;
	font-size: 20px;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cursor: pointer;
	background-color: #000000;
	color: #ffffff;
	opacity: 70%;
	
}
.serial a{
	text-decoration: none;
	color: #ffffff;
	
}
.serial:hover {
	/* background-color: #000000; */
	opacity: 80%;
	/* font-size: large; */
	color:#ff0000;
	
}
#droparray{
	padding: 0px;
	margin: 0px;
	display: none;
 color: rgb(0, 0, 0);
	/* background-color: 000; */
	
}
#sorting{
	padding: 0px;
	margin: 0px;
	display: none;
 color: rgb(0, 0, 0);
	/* background-color: 000; */
	
}
#Searching{
	padding: 0px;
	margin: 0px;
	
	transition: 0.5s;
	display: none;
 color: rgb(0, 0, 0);
	/* background-color: 000; */
}
#Recursion{
	padding: 0px;
	margin: 0px;
	display: none;
 color: rgb(0, 0, 0);
	/* background-color: 000; */
}
#discriptionblock{
	/* transition: 0.51s; */
	
	display: none;
	width: 100%;
	height: 20%;
}
.discription{
	/* transition: 0.51s; */
	/* position: relative; */
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 200px;
	width: 90%;
	margin-left: 5%;
	justify-content: center;
	background-color: #000000;
	opacity: 90%;
	color: rgb(255, 255, 255);
	
}
.discription_video{
	
	width: 40%;
	display: flex;
	float: left;
	flex-direction: row;
	justify-content: center;
	
}
.textdiscriptionvideo{
	/* transition: 0.51s; */
	
	display: flex;
	font-size: 15px;
    flex-wrap: wrap;
	height: 100%;
	margin-left: 10px;
	width: 40%;
	line-height: normal;
	/* padding-top: 5%; */
    /* background-color: #ffffff; */
}


#drop1 ul li a{
	width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 15px;
	display: block;
	text-decoration: none;
	color: antiquewhite;
}
#drop1 ul li a:hover{
	/* background-color: rgb(255, 255, 255); */
	color: red;
	opacity: 100%;
}


/* DSA serial ends here */

/* footer from here */
.footer{
	/* position: inherit;
top:80%; */
margin-top: auto;
/* bottom: 0px; */
	background-color: #dcdcdc;
	/* opacity: 80%; */
	display: flex;
    /* margin-top: 40px; */
	justify-content: center;
	
	text-align: center;
	width: 100%;
	height: auto;

}
.socialmedia{
	display: flex;
	/* flex-direction: row-; */
	justify-content: right;
	gap: 20px;
	width: auto;
	height: 30px;
	/* margin-left: 70%; */
	
}

.socialmedia img{
	height: 20px;
   padding-top: 18px;
}
 .socialmedia a{
	text-decoration: none;
 }
 .bottomblock{
	color: rgb(0, 0, 0);
	text-align:  left ;
	width: 50%;
	/* padding-top: 150px; */
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	
	
	
}

/* Fotter ends here */


/* code editor */


@media (max-width: 794px){
	body{
		background-image: url('bg790.png');
	}
	.serial{
		font-size: 15px;
	}
	.bottomblock{
		font-size: 10px;
	}
	.videointro{
		width: 80%;
		margin-left: 10%;
	}
	.socialmedia img{
		height: 15px;
	}
	.discription{
		flex-direction: column;
		height: 60%;
	}
	.discription_video{
		width: 90%;
		padding-left: 5%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.textdiscriptionvideo{
		width: 90%;
	}
}
@media (max-width: 412px) {
	body{
		background-image: url('bg300.png');
	}
	
	
}
@media (max-width: 300px) {
	body{
		background-image: url('bg300.png');
	}
	
	
}
