body {
	/* background-color: #202020; */
    font-family: 'Courier New', Courier, monospace;
	zoom: 125%;
	margin: 0px;
	padding: 0px;
	background-image: url("bbg.png");
min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;

}
.topbackground {
	height: 15%;
	width: 100%;
	opacity: 70%;
	align-content: center;
	color: darkred;
	background-color: black;
/*	background-image: url("aa.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
}

.menubar{
	height: 50px;
	font-size: 15px;
	
}

.videointro{
	width: 50%;
	margin-top: 20px;
	/* margin-left: 10px; */
	display: flex;
	float: left;
	justify-content: center;
}
.bottomblock{
	color: white;
	text-align:  center ;
	/* padding-top: 150px; */
	padding: 20px;
}

.menubar ul {
	background-color: #111;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	opacity: 90%;
}
.menubar li{
	width: auto;
	float: left;
}
.menubar li a{
	display: block;
	font-family: 'Courier New', Courier, monospace ;
	color: white;
	text-align: center;
	margin-left: 5px;
	text-decoration: none;
	/* height: 20px; */
	padding: 10px;

}
.menubar li a:hover{
	background-color: #333;

	border-bottom:  2px solid red;
}

.logoD{
	padding: 0px; 
	margin-left: 50px;
	display: flex; 
	justify-content: center;
	/* width: 10%; */
}



.Series_names{
	width: 100%;
	float: left;
	background: #000;
	opacity: 80%;
	color: antiquewhite;

}
.Series_names ul,ul li{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
}
.serial{
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
/* margin-bottom: 10px; */
cursor: pointer;

}
#droparray{
	padding: 0px;
	margin: 0px;
	display: none;
 color: antiquewhite;
	background-color: 000;
	
}

#droparray ul li a{
	width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 15px;
	display: block;
	text-decoration: none;
	color: antiquewhite;
}
#droparray ul li a:hover{
	/* background-color: rgb(255, 255, 255); */
	color: red;
	opacity: 100%;
}
#drop1{
	padding: 0px;
	margin: 0px;
	display: none;
 color: antiquewhite;
	background-color: 000;
	
}

#drop1 ul li a{
	width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 15px;
	display: block;
	text-decoration: none;
	color: antiquewhite;
}
#drop1 ul li a:hover{
	/* background-color: rgb(255, 255, 255); */
	color: red;
	opacity: 100%;
}
.footer{
	
	display: flex;
    margin-top: 50px;
	justify-content: center;
	gap: 20px;
	text-align: center;
	width: 100%;
	height: auto;
	text-align: center;
	/* float: left; */
}
.footer img{
	height: 20px;
   margin-top: 10px;
}

/* code editor */



@media (max-width: 794px){
	.menubar{
		font-size: 10px;
	}
	.logoD{
		height: 31.25px;
	}
	.Series_names{
		font-size: 15px;
	}
	.videointro{
		width: 100%;
	}
}
@media (max-width: 605px){
	.menubar{
		font-size: 8px;
	}
	.logoD{
		height: 29.33px;
	}
	.Series_names{
		font-size: 12px;
	}
}
@media (max-width: 530px){
	.menubar{
		font-size: 6px;
	}
	
	.logoD{
		margin-left: 20px;
		height: 27.33px;
	}
	.Series_names{
		font-size: 11px;
	}
}
@media (max-width: 422px){
	.menubar{
		font-size: 5px;
	}
	.logoD{
		margin-left: 10px;
		height: 25.63px;
	}
	.Series_names{
		font-size: 8px;
	}
}
@media (max-width: 372px){
	.menubar{
		font-size: 5px;
	}
	.menubar li a{
		padding-left: 5px;
		padding-right: 5px;
	}
	.logoD{
		margin-left: 5px;
		height: 25.63px;
	}
}

